#gallery-container {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    grid-auto-flow: row dense;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
    width: 80vw;

}

img.gallery {
    border-radius: 0;
    padding: 5%;
    margin: 0;
}
