@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    font-family: 'Lora', serif;
}

#content, .content {
    padding-left: 10%;
    padding-right: 10%;
}

img {
    width: 70vw;
    border: solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.landing {
    width: 80vw;
    margin: auto;
    text-align: center;
}
