body {
    width: 100%;
    background-color: white;
    font-family: helvetica;

}

header {
    width: 100%;
    height: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

h1 {
    color: black;
    font-size: 3em;
}

h2 {
    color: black;
    font-size: 2.2em;
}

h2.title {
    font-size: 1.8em;
}

h3 {
    color: black;
    font-size: 1.25em;
    line-height: 200%;

}

h4 {
    color: cornflowerblue;
    font-size: 1em;
    line-height: 10%;
}

h5 {
    color: dimgray;
    font-size: 0.75em;
    line-height: 10%;
}

p {
    color: black;
    line-height: 120%; 
    font-size: 1em;
}

.greyed-out {
    color: LightGrey;

}

a.greyed-out {
    color: LightGrey;
    text-decoration: none;
}

p.posts {
    font-size: 0.9em;
    line-height: 120%;
}

ul.bulleted {
    list-style-type: circle;
    text-align: left;
    display: block;
}

ul.not-bulleted {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    text-align:center;

}


li.not-bulleted {
    display: inline;
	padding-left: 1%;

}

li.bulleted {
    padding-top: 10px;
}
a:link {
    text-decoration: none;
    color: cornflowerblue;
}

a:visited {
    text-decoration: none;
    color: grey;
}


a.blacklink {
    color: gray;
    text-decoration: none;
}

a.greyed-out:link {
    color: LightGrey;
}
#content {
    width: 70%;
    margin: auto;
}

#posts {
    position: relative;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 6%;
}

img {
    display: block;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    border-radius: 15px;
}

.code-container {
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
}

pre {
    font-size: 0.7em;
}

code.inline-code {
    font-size: 1.25em;
    color: deeppink;
    padding-left: 2px;
    padding-right: 2px;
}

blockquote {
    font-size: 0.9em;
    margin: auto;
    width: 80%;
    background: #eee;
    border-radius: 5px;
    padding: 15px;
}
@media (min-width: 900px) {

    pre {
        font-size: 1.2em;
        border-radius: 15px;
    }

    .code-container {
        display: block;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}