body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }

body { font-family: Arial, Helvetica, sans-serif;}

.container {
    width: 800px;
    margin: 0 auto;
}

#main {
    background: url(images/orange.png) repeat-x;
}

#main .container {
        background: url(images/grey.png) no-repeat;
}

